# Auto detect text files and perform LF normalization
* text=auto
*.lib filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.sdf filter=lfs diff=lfs merge=lfs -text
vc14/otclient-sdk-master/boost_1_63_0/lib64-msvc-14.0/libboost_regex-vc140-mt-gd-1_63.lib filter=lfs diff=lfs merge=lfs -text
vc14/otclient.VC.db filter=lfs diff=lfs merge=lfs -text
vc14/otclient.sdf filter=lfs diff=lfs merge=lfs -text
